.geography-page {
  .geography-intro {
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    font-size: 16px;
  }
  .geography-map {
    min-height: 500px; 
    justify-content: center;
    position: relative;
    background-image: url('../../assets/img/wallhaven-j5mj9w.png');
    background-size: cover;
  }
}

body[data-theme='dark'] {
  div#driver-highlighted-element-stage {
    background-color: #000 !important;
    border: 1px solid #ccc;
  }
}
